{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="wrapper">
  <header id="header">
    <div class="container-fluid">
      <div class="row">
        {% if logo %}
          <div class="col-xs-3 col-sm-2 logo"><a href="{{ front_page }}"><img src="{{ logo }}" alt="{{ 'Home'|t }}" /></a></div>
        {% endif %}
        
        {% if page.header %}
          <div class="col-xs-9 col-sm-10 header-content">
            <div class="row">
              {{ page.header }}
            </div>
          </div>
        {% endif %}
      </div>
    </div> <!-- End container-fluid -->
  </header> <!-- End header -->
    
  <div class="wrapper-content front">
    {% if page.home_slider %}
      {{ page.home_slider }}
    {% endif %}
    {% if page.content_front %}
        <div class="container">
          <div class="row">{{ page.content_front }}</div>
        </div>
    {% endif %}
  </div> <!-- End main content -->
  
  <footer id="footer">
    <div class="container">
      {% if page.footer %}
        <div class="row">
          {{ page.footer }}
        </div>
      {% endif %}
    </div> <!-- End container -->
  </footer> <!-- End footer -->
</div> <!-- End wrapper -->