@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=vietnamese');
/* font-family: 'Roboto Condensed', sans-serif; */

/** Global **/
img{
    max-width: 100%;
    height: auto;
}
.padding0{
  padding: 0 !important;
}
.margin0{
    margin: 0 !important;
}
.clear{
    clear: both !important;
}
.inline{
    display: inline-block;
}
.orange{
    color: orange;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
/** End global **/


/** Header **/
header#header .logo a{
    display: inline-block;
    margin-right: 60px;
    margin-left: 20px;
}
header#header .logo img{
    height: 40px;
    width: auto;
}
nav.main-menu{
    
}
nav.main-menu ul.menu a{
    color: #555;
    line-height: 30px;
    padding: 14px 18px;
    font-size: 14px;
}
/** End header **/


/** Front page **/

/** End front page **/


/** Main page **/

/** Main page **/


/** Footer **/

/** End footer **/